node_modules
src/portfolio-pages/tak/section1.gif
src/portfolio-pages/tak/section2.gif
src/portfolio-pages/tak/Section 3.gif
src/portfolio-pages/wav/section4.gif
src/portfolio-pages/mycareer/section7.mov
dist/
src/portfolio-pages/tak/section1.gif
src/portfolio-pages/tak/section2.gif
src/portfolio-pages/tak/Section 3.gif
src/portfolio-pages/wav/section4.gif
src/portfolio-pages/mycareer/section7.mov
dist/
